.news-list {
  position: absolute;
  left: 0;
  width: 100%;

  .news-item {
    height: 100%;
    padding: 0.1rem;

    .info {
      height: .48rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: .12rem;
      color: #999;
    }

    .title {
      padding: .05rem 0;
      line-height: .2rem;

      h1 {
        font-size: .16rem;
      }
    }

    &.type-1 {
      .main {
        display: flex;
        flex-direction: row;

        .title {
          flex: 2;
          font-size: .16rem;
          padding-top: .1rem;
          box-sizing: border-box;

        }

        .pic {
          flex: 1;
          box-sizing: border-box;

        }
      }

      .date {
        font-size: .12rem;
        display: flex;
      }
    }

    &.type-2,
    &.type-3 {
      .pic {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-between;

        .img {
          width: 33.33%;
          flex: 1 1 auto;
          margin-right: .05rem;
          background-color: #eee;
          font-size: 0;

          &.last {
            margin: 0;
          }
        }
      }
    }
  }
}